body {
    padding: 0;
    margin: 0;
}


.header img {
    width: 6%;
    margin-left: 5%;
    margin-top: -5%;
    border-radius: 20%;
}


.header {
    width: 100%;
    height: 100%;
    background-color: #ff914d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 5%;
}


@media  screen and (max-width: 500px) {
    .header, .header nav, .header nav ul, .header nav ul li, .header nav ul li a {
        width: 100%;
    }
}
.header nav {
    float: none;
    display: block;
    text-align: center;
    margin-top: -1%;
}

.header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 2%; /* Adjusted to center the navigation */
    margin-top: 0;
    margin-right: 2%;
}

.header nav ul li {
    list-style: none;
    margin: 0 5%; /* Reduced margin for a cleaner look */
    transition: 0.5s;
}

.header nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding-bottom: 10%;
    padding-top: -20%;
    font-size: 2vw;
    font-family: sans-serif;
    color: aliceblue;
    text-transform: uppercase;
    transition: 0.5s;
}

.header nav ul:hover li a {
    transform: scale(1.5);
    opacity: 0.2;
    filter: blur(5px);
}

.header nav ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
    text-decoration: underline;
    color: #fff;
}

main {
    width: 100%;
    height: auto;
    background-color: #ff914d;
    margin-top: -5%;
}

main .container {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    background: linear-gradient(to right, #8c52ff, #5ce1e6);
    border-radius: 2%;
    text-align: left;
    display: flex;
    text-align: center;
    padding-bottom: 10%;
}

.container p  {
    font-weight: 700;
    padding-top: 10%;
    padding-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vw;
   /* color: aliceblue;*/
   background: linear-gradient(45deg,#ff7300, black);
      -webkit-background-clip: text;
      color: transparent;
}

.container img {
    width: 50%;
    height: 50%;
    padding-left: 20%;
    margin-left: 5%;
    padding-top: 10%;
    opacity: 1;
    animation: swiperight 1s;
}
 @keyframes swiperight {
    0%{
        width: 50%;
        height: 50%;
        margin-left: -20%;
        opacity: 0.2;
    }

    100%{
        width: 50%;
        height: 50%;
        margin-left: 5%;
        opacity: 1;
    }

}

.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-top: 0;
    font-size: 1vw;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
}

.content p {
    width: 50%;
    height: auto;
    font-size: 1.8vw;
    margin-top: 5%;
    margin-left: 5%;
    opacity: 1;
    color: aliceblue;
}

.content img {
    width: 30%;
    height: 10%;
    margin-left: 0;
    margin-top: 0;
    padding: 5%;
    opacity: 1;
}


.head {
    width: 100%;
    height: auto;
    background-color: #5ce1e6;
    margin-top: 0;
}

.head p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 5vw;
    font-weight: 900;
    color: aliceblue;
}

.label_1 {
    width: 100%;
    height: auto;
    background-color: #5ce1e6;
}

.image_1 {
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
}

.aryan, .ansh{
    width: 17%;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 0;
    margin-top: 0;
}

.image_1 p {
    font-size: 2.5vw;
    margin-top: 5%;
    text-align: center;
    color: aliceblue;
    margin-left: -10%;
} 

.label_2 {
    width: 100%;
    height: auto;
    background-color: #5ce1e6;
}

.image_2 {
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.ayush_v, .laiba, .ayush_s {
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 0;
    margin-top: 0;
}

.image_2 p {
    font-size: 2.5vw;
    margin-top: 5%;
    text-align: center;
    color: aliceblue;
} 

.question {
    width: 100%;
    height: auto;
}
.question P {
    width: 100%;
    font-size: 6vw;
    text-align: center;
    color: #8c52ff;
}

.answer_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.answer_box img {
    width: 20%;
    height: auto;
    padding: 2%;
    margin-top: -7%;
}
.answer {
    width: 100%;
    height: auto;
    font-size: 3vw;
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    color: #8c52ff;
}


.answer_d {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.answer_d p {
    font-size: 3vw;
    padding: 2%;
    margin-top: -5%;
}

.services {
    width: 100%;
    height: auto;
    padding-bottom: 4%;
    display: flex;
    justify-content: space-around;
}

.template_1{
    width: 20%;
    height: 10vw;
    background-color: rgba(206, 201, 201, 0.741);
    margin-top: 10%;
    margin-left: 4%;
    text-align: center;
    border-radius: 10%;
}

.template_1 p {
    margin-top: 25%;
    font-size: 1.3vw;
}

.services img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: -15%;
}

.template_2 {
    width: 20%;
    height: 32vw;
    background-color: #fa5300;
    margin-top: 5%;
    margin-left: 9%;
    border-radius: 5%;
    text-align: left;
}

.template_2 p{
    margin-top: 20%;
    margin-left: 10%;
    font-size: 2.5vw;
    color: aliceblue;
}

.template_3 {
    width: 20%;
    height: 32vw;
    background-color: rgba(206, 201, 201, 0.741);
    margin-top: 5%;
    margin-left: 4%;
    border-radius: 10%;
    text-align: left;
}

.template_3 p {
    font-size: 2vw;
    margin-left: 10%;
    margin-top: 20%;
}

.template_4 {
    width: 20%;
    height: 16vw;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    border-radius: 10%;
    background-color: #fa0644;
}

.template_4 p {
    text-align: left;
    font-size: 2vw;
    margin-left: 10%;
    margin-top: 40%;
    color: aliceblue;
}

.services_1 {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    padding-bottom: 4%;
}

.template_5 {
    width: 20%;
    height: 48vw;
    margin-top: -16vw;
    margin-left: 4%;
    border-radius: 1em;
    background-color: #fa0644;
}


.template_5 p {
    font-size: 2.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    text-align: left;
    margin-left: 15%;
    margin-top: 100%;
}


.template_6 {
    width: 20%;
    height: 32vw;
    border-radius: 10%;
    background-color: rgba(206, 201, 201, 0.741);
    margin-left: 4%;
    text-align: left;
}

 .template_6 p {
    font-size: 3vw;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
    margin-top: 80%;
}

.template_7 {
    width: 20%;
    height: 32vw;
    border-radius: 10%;
    background-color: #aa02ff;
    margin-left: 4%;
    text-align: left;
}


.template_7 p {
    font-size: 2vw;
    margin-left: 10%;
    margin-top: 40%;
    color: aliceblue;
}

.template_8 {
    width: 20%;
    height: 48vw;
    margin-top: -16vw;
    margin-left: 4%;
    border-radius: 1em;
    background: url(home5.2.jpg);
    background-size: cover;
}

.template_8 p {
    font-size: 2.5vw;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 5%;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.end {
    width: 100%;
    height: auto;
    background-color: #798cf4;
    display: flex;
    justify-content: space-between;
}

.written {
    width: 80%;
    height: auto;
    padding: 2%;
}

.heads p {
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.middle {
    text-align: center;
    padding: 5%;
}


.middle p{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.tail {
    width: 100%;
    height: auto;
    color: aliceblue;
    text-align: center;
    font-size: 2vw;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5%;
}
 
.tail button {
    height: 3%;
    background-color: transparent;
    color: blue;
    border-color: transparent;
    font-size: 2vw;
}

.end img {
    width: 50%;
    height: 50%;
    padding: 5%;
}